*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:'Poppins',sans-serif;

    background:#160808;

    color:white;

    overflow-x:hidden;

}

.loader{

    position:fixed;

    width:100%;

    height:100vh;

    background:#120606;

    display:flex;

    justify-content:center;

    align-items:center;

    flex-direction:column;

    z-index:999;

    animation:desaparecer 2s forwards;

    animation-delay:3s;

}

.loader h1{

    font-family:'Great Vibes',cursive;

    font-size:70px;

    color:#b22222;

}

.loader p{

    margin-top:20px;

    font-size:20px;

    opacity:.8;

}

.inicio{

    width:100%;

    height:100vh;

    background:linear-gradient(180deg,#240909,#4b0f0f,#120606);

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

}

.contenido{

    width:90%;

    max-width:700px;

}

.contenido h1{

    font-family:'Great Vibes',cursive;

    font-size:85px;

    color:#f0d9c8;

}

.contenido h2{

    margin-top:15px;

    color:#d94a4a;

    font-size:30px;

}

.contenido p{

    margin-top:40px;

    font-size:22px;

    line-height:40px;

}

button{

    margin-top:45px;

    padding:18px 45px;

    border:none;

    border-radius:50px;

    background:#8b0000;

    color:white;

    font-size:22px;

    cursor:pointer;

    transition:.4s;

}

button:hover{

    transform:scale(1.08);

    background:#b22222;

}

@keyframes desaparecer{

    to{

        opacity:0;

        visibility:hidden;

    }

}
.historia {
    min-height: 100vh;
    background: linear-gradient(
        to bottom,
        #090014,
        #1a0033
    );
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    position: relative;
    overflow: hidden;
}

.historia::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    background: white;
    border-radius: 50%;
    box-shadow:
        20px 50px white,
        100px 80px white,
        200px 30px white,
        300px 120px white,
        400px 60px white,
        500px 150px white,
        600px 40px white,
        700px 100px white;
    animation: estrellas 4s infinite alternate;
}

.historia h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 45px;
    z-index: 2;
}

.historia p {
    font-size: 20px;
    margin-top: 20px;
    z-index: 2;
}


@keyframes estrellas {

    from {
        opacity: 0.3;
    }

    to {
        opacity: 1;
    }

}
.luna {

    position:absolute;

    top:80px;

    right:100px;

    width:120px;

    height:120px;

    background:#f5e6c8;

    border-radius:50%;

    box-shadow:0 0 40px #f5e6c8;

    opacity:.8;

}
.carta-seccion {

    min-height:100vh;

    background:linear-gradient(
        to bottom,
        #1a0033,
        #2b0808
    );

    display:flex;

    justify-content:center;

    align-items:center;

}


.sobre {

    width:320px;

    height:220px;

    background:#800020;

    position:relative;

    border-radius:10px;

    cursor:pointer;

    box-shadow:0 0 40px rgba(255,255,255,.2);

}


.tapa {

    position:absolute;

    top:0;

    left:0;

    width:100%;

    height:100px;

    background:#a52a2a;

    clip-path:polygon(
        0 0,
        50% 70%,
        100% 0
    );
transform-origin: top;
transition:.8s;
}


.carta {

    position:absolute;

    width:280px;

    min-height:350px;

    max-height:70vh;

    background:#f5e6c8;

    left:20px;

    bottom:0;

    border-radius:5px;

    transform:translateY(160px);

    transition:.8s;

    padding:25px;

    color:#4b0f0f;

    overflow-y:auto;

    z-index:1;

}


.carta p {

    white-space:pre-line;

    font-size:15px;

    line-height:1.8;

}
.sobre:hover .carta {

    transform:translateY(40px);

}
.carta {

    background:#f5e6c8;

    color:#3b1a1a;

    font-family:'Poppins', sans-serif;

    box-shadow:
    0 0 20px rgba(0,0,0,.4);

    border:2px solid #e8cfa8;

}


.carta p {

    white-space:pre-line;

    font-size:15px;

    line-height:1.8;

}
.contador {

    min-height:100vh;

    background:linear-gradient(
        to bottom,
        #2b0808,
        #120606
    );

    display:flex;

    justify-content:center;

    align-items:center;

    flex-direction:column;

    text-align:center;

    color:white;

}


.contador h2 {

    font-family:'Great Vibes',cursive;

    font-size:55px;

    color:#f0d9c8;

}


#tiempo {

    margin-top:40px;

    font-size:25px;

    color:#d94a4a;

}
.galeria {

    min-height:100vh;

    background:#f5e6c8;

    color:#4b0f0f;

    text-align:center;

    padding:50px 20px;

}


.galeria h2 {

    font-family:'Great Vibes',cursive;

    font-size:55px;

}


.fotos {

    margin-top:50px;

    display:flex;

    justify-content:center;

    gap:30px;

    flex-wrap:wrap;

}


.foto {

    background:white;

    width:250px;

    padding:15px;

    box-shadow:0 10px 25px rgba(0,0,0,.3);

    transform:rotate(-3deg);

    transition:.5s;

}


.foto:nth-child(2){

    transform:rotate(4deg);

}


.foto:nth-child(3){

    transform:rotate(-6deg);

}


.foto:hover {

    transform:scale(1.1) rotate(0deg);

}


.foto img {

    width:100%;

    height:250px;

    object-fit:cover;

}


.foto p {

    margin-top:15px;

    font-size:15px;

}
.foto.activa {

    position:fixed;

    top:50%;

    left:50%;

    transform:
    translate(-50%,-50%)
    scale(1.3);

    z-index:1000;

}


.foto.activa img {

    height:auto;

}


.fondo-foto {

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.7);

    z-index:999;

}
.final {

    min-height:100vh;

    background:
    linear-gradient(
        to bottom,
        #120606,
        #4b0f0f
    );

    display:flex;

    justify-content:center;

    align-items:center;

    flex-direction:column;

    text-align:center;

    color:white;

    position:relative;

    overflow:hidden;

}


.final h1 {

    font-family:'Great Vibes',cursive;

    font-size:70px;

    color:#f0d9c8;

}


.final p {

    margin-top:30px;

    font-size:22px;

    line-height:2;

}


.final h2 {

    margin-top:50px;

    color:#d94a4a;

}
